[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Amritanshu Tripathy
	email = tripathyamritanshu7@gmail.com
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[core]
	editor = nvim
	pager = delta
[credential]
	helper = cache
[safe]
	directory = /var/lib/git/amrit_website.git

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
